.dbo__cta {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0rem 15% 0 15%;
    flex-wrap: wrap;
    min-width: 1202px;
    z-index: 5;
    position: relative;
}

@media screen and (max-width: 1742px) {
    .dbo__cta {
        margin: 0rem 10% 10rem 10%;
    }
}

@media screen and (max-width: 1742px) {
    .dbo__cta {
        margin: 0rem 5% 10rem 5%;
    }
}

@media screen and (max-width: 1365px) {
    .dbo__cta {
        min-width: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}
@media screen and (max-width: 865px) {
    .dbo__cta {
        min-width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 865px) {
    .dbo__cta {
        margin-top: -15rem;
    }
}