* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
    scroll-snap-type: proximity;
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

.image__beach-hero {
  display: flex; 
  flex-direction: column;
  background: rgba(8,10,13,.2);
  background-size:cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  position: relative;
}


.beach-gradient {
        z-index: auto;
        /* ff 3.6+ */
        background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(232, 235, 243, 1) 100%); 
    
        /* safari 5.1+,chrome 10+ */
        background:-webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(232, 235, 243, 1) 100%);
    
        /* opera 11.10+ */
        background:-o-linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(232, 235, 243, 1) 100%);
    
        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8EBF3', endColorstr='#FFFFFF', GradientType=1 );
    
        /* ie 10+ */
        background:-ms-linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(232, 235, 243, 1) 100%);
    
        /* global 94%+ browsers support */
        background:linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(232, 235, 243, 1) 100%);
    
    }
.dbo__header-background {
        object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }



.text-focus-in {
	-webkit-animation: text-focus-in 1.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

    @-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
    }
    @keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
 }
  
 .swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

 @-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

  @media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
  }
  @media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
  }

  .fade-in-top {
	-webkit-animation: fade-in-top 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	        animation: fade-in-top 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-9 10:5:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-top {
        0% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes fade-in-top {
        0% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      